With **pyforest** you can use all your favorite Python libraries without importing them before. If you use a package that is not imported yet, pyforest imports the package for you and adds the code to the first Jupyter cell. If you don't use a library, it won't be imported.

In [13]:
import pyforest

In [14]:
data = pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep='\t')

In [15]:
data.head()

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358

In [16]:
active_imports()

import seaborn as sns
import pandas as pd
import numpy as np

['import seaborn as sns', 'import pandas as pd', 'import numpy as np']

In [17]:
np.mean(data['sort_sequence'])

200.0

In [18]:
active_imports()

import seaborn as sns
import pandas as pd
import numpy as np

['import seaborn as sns', 'import pandas as pd', 'import numpy as np']